#Entity Framework
Proyecto_RegistroVacunas/Proyecto_RegistroVacunas/obj/*
Proyecto_RegistroVacunas/Proyecto_RegistroVacunas/bin/Proyecto_RegistroVacunas.pdb
Proyecto_RegistroVacunas/Proyecto_RegistroVacunas/bin/Proyecto_RegistroVacunas.dll
Proyecto_RegistroVacunas/Proyecto_RegistroVacunas/Models/MyEF.edmx.diagram
Proyecto_RegistroVacunas/.vs/Proyecto_RegistroVacunas/v16/.suo
Proyecto_RegistroVacunas/.vs